<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>

    <header>
        <h1>Hi grupo 3</h1>  

    </header>
    
    <main >

        <section >
            <img src="/images/home-images/carrusel.png"  width="100%" alt="piercing" class="product_img">
        
        </section>
        <div class= "products-box">
            <article>
                <img src="/images/home-images/anillo.jpg"  width="100" alt="anillo" class="product_img">
                <div class="category">
                    <p>Anillos</p>
                </div>
            </article>

            <article >
                <img src="/images/home-images/collar.jpg"  width="100" alt="collar" class="product_img">
                <div class="category">
                    <p>Collares</p>
                </div>
            </article>

            <article >
                <img src="/images/home-images/pulsera.jpg"  width="100" alt="piercing" class="product_img">
                <div class="category">
                    <p>Pulseras</p>
                </div>
            </article>

        </div>
        

            <div class= "products-box">

            <article>
                <img src="/images/home-images/piercing.jpg"  width="100" alt="pulsera" class="product_img">
               
                <p class="category">Piercings</p>

            </article>

            <article>
                <img src="/images/home-images/arete.jpg"  width="100" alt="arete" class="product_img">
               
                <p class="category">Aretes</p>

            </article>

            <article >
                <img src="/images/home-images/reloj.jpg"  width="100" alt="reloj" class="product_img">
                <p class="category">Relojes</p>
                
            </article>

        </div>
        
    </main>

    <footer>

    </footer>

</body>
</html>