.titulo-cesta{
    margin-top: 30px;
    margin-left: 60px;
}
.contenedor-foto-descripcion{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 15px;
}
.product_img{
    border: solid 2px rgb(153, 151, 151);
    margin: 10px 10px;
    width: 50%;
    padding: 5px;
    margin-left: 40px;
}
.descripcion-producto-1, .descripcion-producto-2, .descripcion-producto-3{
 
    margin: 10px 20px;
    width: 30%;
    font-weight: bold;
    font-size: 12px;
}
.titulo-descripcion{
    font-weight: bolder;
    font-size: 13px;

}

hr{
    height: 3px;
    background-color: black;
}
.comprar-total{
    display: flex;
    align-items: center;
    /* flex-direction: row; */
    margin-top: 20px;
    margin-bottom: 20px;
}
.total{
  font-weight: bolder;
  width: 25%;
  margin-right: 10px;
  font-size: 13px;


}
.boton-comprar{
    width: 75%;
    margin-left: 40px;
    font-size: 17px;

}

@media (min-width: 701px){
    .descripcion-producto-1, .descripcion-producto-2, .descripcion-producto-3{
        line-height: 25px;
        font-size: 17px;
    }
    .titulo-descripcion{
        font-size: 20px;
    }
    .product_img{
        width: 30%;
    }
    .total{
        width: 20%;
        margin-right: 40px;
        font-size: 17px;
      }
}
