.products-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

main .products-box article{
    border-radius: 5px;
    background-color: #9B4F4F;
    color: white;
    margin: 10px 5px;
    padding: 10px 2%;
    width: 27%;
    transition: box-shadow,250ms,  display, 200ms;
}

    .products-box{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
    }
    
    main .products-box article{
        background-color: #9B4F4F;
        color: white;
        margin: 10px 5px;
        padding: 10px 2%;
        width: 27%;
    }
    
    main .products-box article img{
        width: 100%;
    }
    

    .all-categories{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color:#9B4F4F;
    }

    .fa-gem{
        font-size: 30px;
        margin-top: 10px;
    
    }

     
    main .products-box article img{
        width: 100%;
    }

    .category p, .category a {
        color: white;
        text-decoration: none;
        font-weight: 510;
    }

    .products-box article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .ver-todo{
        font-weight: bold;
        border-radius: 5px;
        align-self: center;
        width: 200px;
        margin-top: 20px;
        background-color: #D18686;
        padding: 10px;
        transition: background-color 0.7s;
    }

    .ver-todo:hover{
        background-color: #9B4F4F;
    }


    .ver-todo a{
        color: white;
        text-decoration: none;
    }
    
    @media(min-width: 300px){
        main .products-box article{
            width: 30%;
        }
        .icono{
            margin: 7px;
        }
    
    }

    @media(min-width: 769px){
        .fa-gem{
            font-size: 40px;
        
        }
 
        .categories-and-boxes{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 30px;

        }
        .all-categories{
            width: 30%;
        }
        .all-categories h3{
            font-size: 20px;
        }
        .products-box{
            width: 70%;
        }

    }
    

