main{
    padding-top: 30px;
}
form {
    display: flex;
    padding: 5% 0;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
}

form p, form p label{
    margin: 10px 0;
}

#email, #contraseña{
    background-color: rgb(230, 227, 227);
    width: 70%;
    max-width: 300px;
    border: none;
    padding: 20px;
    border-radius: 5px;
}

#submit, #forgot-password{
    background-color: #c57373;
    width: 70%;
    max-width: 300px;
    border: none;
    padding: 20px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    transition: background-color 0.6s;
}

#submit:hover, #forgot-password:hover{
    background-color: #9B4F4F;
    
}

.instructions{
    margin-top: 25px;
}


/*Tableta*/
@media (min-width: 700px){
    #email, #contraseña{

        max-width: 350px;

    }

    #submit, #forgot-password{

        max-width: 350px;

    }
    .tipos-de-cliente{
        display: flex;
        margin-top: 50px;
        flex-wrap: wrap;
        
    }

    .clientes{
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .nuevos-clientes{
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 50%;
        padding-left: 50px;
        padding-right: 50px;
    }

}

