
form {
    display: flex;
    padding: 5% 0;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
}

form p, form p label{
    margin: 10px 0;
}

#email, #contraseña{
    background-color: white;
    width: 70%;
    border: none;
    padding: 20px;
    border-radius: 5px;
}

#submit, #forgot-password{
    background-color: #c57373;
    width: 70%;
    border: none;
    padding: 20px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    transition: background-color 0.6s;
}

#submit:hover, #forgot-password:hover{
    background-color: #9B4F4F;
    
}
