*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
}
header nav , header div.search
    {
        display: block;
    }
header{
    background-color: white;
}

footer{
    background-color: #f5efef;
}
header div i{
         font-size: 28px;
         font-weight: bolder;
    }    

      header .top-header{
        display:flex;
        justify-content:space-between;
        
        padding: 1%;
        align-items: center; 
      }
      

    header div.logo img{
        height: 80px; 
             
    }

    header > .top-header  div{
        display:inline-block;
      }

    .menu{
         
        display: flex;
        justify-content: space-between; 
         
        font-weight: bolder;
    }
     .menu .nav-bar-titles  ul{
        list-style-type: none;
        margin: 0;  
        display: flex;
        align-items: center;
        justify-content: space-between; 
         
    }
    .menu  .nav-bar-titles  ul  a{
        text-decoration: none;
        display: inline-block;
        padding: 1px 0;
        font-size: 17px;
        justify-content: space-between;   
        color: white;
    } 

main{
    background-color: white;
    text-align: center;
   
}
header{
    background-color: #9B4F4F;
    color: white;
}



.contenedor-registro{
    display: flex;
    padding: 20px;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
}

.caja-registro{
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px solid white;
}
.registrate-newsletter{
    text-align: justify;
    font-size: 13px;
    margin-top: 10px;
}
.boton{
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px solid white;
}
.contenedor-iconos{
    display: flex;
    justify-content: space-around;
    margin: auto;
    /* margin-top: 20px; */
    border: solid 1px rgb(100 100 100 / 40%);
    background-color: rgb(255, 255, 255);
    width: 20%;
    padding: 10px;
    border-radius: 5px;
}
.contenedor-informacion{
    display: none;
}
.contenedor-informacion-version-mobile ul{
    padding: 30px;
}
.contenedor-informacion-version-mobile li{
    margin-bottom: 8px;
}
.contenedor-informacion-version-mobile a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.fa-search{
    color: white;

}
.fa-user, .fa-shopping-bag{
    color: white;
    padding: 11px;
}


    header div.searchpc,.menu
{
    display: none;
}
main .products-box article{
    width: 30%;
}


/*Menu*/
/*




*/
@media(min-width: 300px){
    .contenedor-iconos{
        width: 30%;
    }
    #chkmenu{
        display: none;
    }
    header div.searchpc,.menu
    {
        display: flex;
    }
    #menuToggle
        {
        display: block;
        position: relative;
        top: 0%;
        left: 50px;
        
        z-index: 1;
        
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
        }
    #menuToggle a
        {
        text-decoration: none;
        color: #232323;
        
        transition: color 0.3s ease;
        }
    #menuToggle a:hover
        {
        color: tomato;
        }

        #menu
            {
            position: absolute;
            width: 300px;
            margin: -100px 0 0 -50px;
            flex-wrap: wrap;
            padding: 50px;
            padding-top: 125px;
            
            background: #9B4F4F;;
            list-style-type: none;
            -webkit-font-smoothing: antialiased;
            
            
            transform-origin: 0% 0%;
            transform: translate(-100%, 0);
            
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
            min-height: 100vh;
            
            }
        #menu li
        {
            padding: 10px 0;
            font-size: 22px;
        }
        #menu a
        {
            color: white;
            width: 100%;
        }
        #menuToggle input:checked ~ ul
        {
            color: red;
            transform: none!important;
        }
        .menu{
            margin-top: -2%;
        }
        .close{
           color: white;
        }

  
}

/*Tableta*/
@media (min-width: 700px){    
    
    .left label i,.left div i {
        display: none;
    }
     
    
    .menu .nav-bar-titles
    {
        width: 100%;
        padding-right: 10px;
    }
    #chkmenu{
        display: none;
    }

    #menuToggle
        {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        
        z-index: 1;
        
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
        }
    #menuToggle a
        {
        text-decoration: none;
        color: white;
        
        transition: none;
        }
    #menuToggle a:hover
        {
        color: white;
        }

        #menu
{
  position: relative;
  width: auto;
  margin: 0;
  padding: 0;
  padding-top: 0;
  
  background: transparent;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
 
  
  transform-origin: 0% 0%;
  transform: none;
  
  transition: none;
  min-height: auto;

}
#menu li
{
  padding: 15px;
  font-size: 1.2rem;
}



    .menu , header div.searchpc
    {
        display: flex;
        justify-content: space-between;
    }
     
    .contenedor-gris{
        background-color: #f5efef;
        padding: 20px;
    }
    .contenedor-registro{
        /* border: solid 1px black;  */
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 70%;
        margin: auto;
        background-color: white;
        border-radius: 5px;

    }
     
    .contenedor-informacion{
        display: flex;
        justify-content: space-between;
        padding: 30px;
    }
    .contenedor-informacion li{
        margin-bottom: 8px;
    }
    .contenedor-informacion a{
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    .contenedor-informacion-version-mobile{
        display: none;
    }
    .contenedor-gris{
        background-image: url("/images/index-images/elevation_footer.jpeg");
    }
    .contenedor-registro{
        background-color: rgb(255 255 255 / 25%);
        
    }
    .contenedor-iconos{
        margin-top: 20px;
        background-color: rgba(255, 255, 255, 0.253);
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        border: none;
    }
    .menu{
        margin-top: 2%;
    }
    #menu a
    {
        width: auto;
    }
    .close{
        display: none;
    }
    
}
/*PC*/
@media (min-width: 960px){
   header{
      padding-left: 7%;
      padding-right: 7%;
   }
    /* .contenedor-gris{
    background-image: url("/images/index-images/elevation_footer.jpeg");
} */
    .contenedor-registro{
        /* background-color: rgb(255 255 255 / 25%); */
        width: 50%;
       
    }
}


