*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
}
header nav , header div.search
    {
        display: block;
    }
header{
    background-color: white;
}

footer{
    background-color: #f5efef;
}
header div i{
         font-size: 28px;
         font-weight: bolder;
    }    

      header .top-header{
        display:flex;
        justify-content:space-between;
        
        padding: 2%;
        align-items: center; 
      }
      

    header div.logo img{
        height: 80px; 
             
    }

    header > .top-header  div{
        display:inline-block;
      }

    .menu{
         
        display: flex;
        justify-content: space-between; 
        padding: 1%;  
        font-weight: bolder;
    }
    .menu div{
       
       width: 10%;
       justify-content: space-between;
    }
     .menu   ul{
        list-style-type: none;
        margin: 0;
        padding: 0;   
        display: flex;
        justify-content: space-between;   
        width: 80%;
         
    }
    .menu    ul a{
        text-decoration: none;
        color: black;
        display: inline-block;
        padding: 1px 0;
        font-size: 17px;
    } 

main{
    background-color: white;
    text-align: center;
   
}
header{
    background-color: #9B4F4F;
    color: white;
}

.menu ul li a{
    color: white;
}


.contenedor-registro{
    display: flex;
    padding: 20px;
    text-align: center;
    padding-top: 10px;

}

.caja-registro{
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px solid white;
}
.registrate-newsletter{
    text-align: justify;
    font-size: 13px;
    margin-top: 10px;
}
.boton{
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px solid white;
}
.contenedor-iconos{
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 20px;

    border: solid #9B4F4F 1px;
    background-color: white;
    width: 20%;
    padding: 10px;
    border-radius: 5px;
}
.contenedor-informacion{
    display: none;
}
.contenedor-informacion-version-mobile ul{
    padding: 30px;
}
.contenedor-informacion-version-mobile li{
    margin-bottom: 8px;
}
.contenedor-informacion-version-mobile a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.fa-search{
    color: white;

}
.fa-user{
    color: white;
}


    header div.searchpc,.menu
{
    display: none;
}
main .products-box article{
    width: 30%;
}

/*Tableta*/
@media (min-width: 700px){
    .left div i{
        display: none;
    }
    
    header div.searchpc,.menu
    {
        display: flex;
    }
     
    .contenedor-gris{
        background-color: #f5efef;
        padding: 20px;
    }
    .contenedor-registro{
        border: solid #9B4F4F 6px;
        width: 50%;
        margin: auto;
        background-color: white;
        border-radius: 5px;
    }
     

    .contenedor-informacion{
        display: flex;
        justify-content: space-between;
        padding: 30px;
    }
    .contenedor-informacion li{
        margin-bottom: 8px;
    }
    .contenedor-informacion a{
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    .contenedor-informacion-version-mobile{
        display: none;
    }
}
/*PC*/
@media (min-width: 960px){
   header{
      padding-left: 7%;
      padding-right: 7%;
   }
}