<footer>
    <div class="contenedor-gris">
        <div class="contenedor-registro">
            <form class="form-registro" action="/" method="GET"> 
                <h5>10% DE DESCUENTO EN TU PRIMERA COMPRA</h5>
                <p class="registrate-newsletter">Registrate en nuestro newsletter para ser el primero en conocer nuestras novedades y ofertas exclusivas. Además, recibe un 10% de descuento que podrás usar en tu primera compra con nosotros.</p>
                <div>
                    <label for="usuario"></label>
                    <input class="caja-registro" type="email" name="usuario" id="usuario" placeholder="Correo electrónico">
                </div>

                <div class="registrate">
                <button class= "boton" type="submit">Regístrate</button>
                </div>
            </form>

        </div>
        <div class="contenedor-iconos">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-pinterest-p"></i>
        </div>
    </div>
    <div class="contenedor-informacion">
        <ul type=none>
            <li><a href="#">Acerca de Bijoux</a></li>
            <li><a href="#">Nuestra historia</a></li>
            <li><a href="#">Sustentabilidad</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>

        <ul type=none>
            <li><a href="#">Atención a clientes</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Preguntas frecuentes</a></li>
            <li><a href="#">Guía de tallas</a></li>
        </ul>

        <ul type=none>
            <li><a href="#">Información</a></li>
            <li><a href="#">Política de privacidad</a></li>
            <li><a href="#">Política de devolución</a></li>
            <li><a href="#">Cookies settings</a></li>
        </ul>

    </div>
    <div class="contenedor-informacion-version-mobile">
        <ul type=none>
            <li><a href="#">Acerca de Bijoux</a></li>
            <li><a href="#">Atención a clientes</a></li>
            <li><a href="#">Información</a></li>
        </ul>

    </div>

</footer>