<header>
    <div class="top-header">
        <div class="left">
            
            
            <label class="burger-menu" for="chkmenu">
                <i class="fa fa-bars burger"></i>
            </label>
            <div class="search">
                <i class="fas fa-search"></i>
            </div>
        </div>
        <div class="logo"> 
            <a href="/"> <img src="/images/logo/logo.jpeg" width= "150px" height="200px" alt="Logo de Bijoux"></a>
        </div>  
        <div class="rigth">
            <div class="bag">
                <a  href="/carrito"> <i class="fas fa-shopping-bag"></i></a>
            </div> 
            <div class="user">
                <a  href="/login"> <i class="fas fa-user"></i></a>
            </div>
        </div>
        
    </div>
     
        
        <nav class="menu" role="navigation">
            <div class="nav-bar-titles" id="menuToggle">
            <input type="checkbox" class="toggler" id="chkmenu"/>             
                                  
                <ul id ="menu">
                    <li class="close">  
                        <label  for="chkmenu">
                            <i class="fas fa-times"></i>
                        </label> 
                    </li> 
                    <a href="/products/categoria/1/"> <li>Anillos</li></a>
                    <a href="/products/categoria/6/"> <li>Relojes</li> </a>
                    <!-- <a href="#"> <li style="display: none;">Descuento</li> </a> -->
                    <a href="/products/admin/x"> <li>Productos Admin</li></a>
                    <a href=""><li>Conocenos</li></a>
                </ul>

            </div>               
            <div class="searchpc">
                <i class="fas fa-search"></i>
            </div>       
        </nav>
     
         
 
</header>