<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f8b57e23e1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index-styles.css">
    <link rel="stylesheet" href="/css/login-styles.css">
    <script src="https://kit.fontawesome.com/f8b57e23e1.js" crossorigin="anonymous"></script>

</head>
<body>

    <!-- header -->
    <%- include('../partials/header') %>
    
    <main>
        <h2>Inicio de sesión</h2>
        <div class= "tipos-de-cliente">
            <section class="clientes">
            
                <h4>Clientes registrados</h4>
                <div class="instructions">
                    <p>Si tiene una cuenta inicie sesión con su dirección de correo electrónico.</p>
                </div>
                
                <form action="/user/login" method="POST">
                    <p>
                        <label for="email"></label>
                        <input type="email" name="email" id="email" placeholder="Correo electrónico">
                        <% if (locals.errors && errors.email) { %>
                            <div class="text-danger">
                                <%= errors.email.msg %>
                            </div>
                        <% } %>
                    </p>   
        
                    <p>      
                        <label for="contraseña"></label>
                        <input type="password" name="password" id="contraseña" placeholder="Contraseña"> 
                    </p>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="remember_user">Recordar mi usuario
                        </label>
                    </div>
        
                    <p >
                        <!--<button type="submit" action="/" method="GET">Enviar</button> -->
                        <button type="submit" id = "submit">Iniciar sesión</button>
                        
                    </p>
        
    
                   
                  </form>
    
            </section>
    
            <section class= "nuevos-clientes">
                <h4>Nuevos clientes</h4>
                <p class="instructions">Crear una cuenta tiene muchos beneficios: Pago más rápido, guardar más 
                    de una dirección, seguimiento de pedidos y mucho más.
    
                </p>
    
                <form action="/user/register" method="GET">
    
                    <p >
                        <!--<button type="submit" action="/" method="GET">Enviar</button> -->
                        <button type="submit" id = "submit">Crear una cuenta</button>
                        
                    </p>
                   
                  </form>
    
            </section>

        </div>
        
  
    </main>


    <!-- footer -->
    <%- include('../partials/footer') %>


</body>
</html>